    * {
        box-sizing: border-box;
    }

    .noselect {
        -webkit-user-select: none;
        /* Chrome/Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+ */
    }

    #garda-roster-clndr {
        font-family: Asap, Helvetica, Arial;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        /*  -moz-box-shadow: 4px 4px 0 #343434;
          -webkit-box-shadow: 4px 4px 0 #343434;
          box-shadow: 4px 4px 0 #343434;*/
    }

    #garda-roster-clndr .clndr {}

    #garda-roster-clndr .clndr .controls {
        /*background-color: #69a776;*/
        background-color: #47A3DA;
        color: white;
    }

    #garda-roster-clndr .clndr .controls .clndr-previous-button,
    #garda-roster-clndr .clndr .controls .clndr-next-button {
        width: 15%;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        -webkit-user-select: none;
        /* Chrome/Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+ */
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }

    #garda-roster-clndr .clndr .controls .clndr-previous-button:hover,
    #garda-roster-clndr .clndr .controls .clndr-next-button:hover {
        /*background-color: #528b5e;*/
        background-color: #2A91CF;
    }

    #garda-roster-clndr .clndr .controls .month {
        width: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

    #garda-roster-clndr .clndr .days-container {
        position: relative;
    }

    #garda-roster-clndr .clndr .days-container .days {
        /*position: absolute;*/
        left: 0;
        /*width: 100%;*/
        /*height: auto;*/
        -webkit-transition: left 0.5s;
        -moz-transition: left 0.5s;
        -ms-transition: left 0.5s;
        -o-transition: left 0.5s;
        transition: left 0.5s;
        /*background-color: #ebebeb;*/
    }

    #garda-roster-clndr .clndr .days-container .days .day,
    #garda-roster-clndr .clndr .days-container .days .empty {
        width: calc(100% / 7);
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1em;
        text-align: center;
        /*color: #212121;*/
        color: #212121;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    #garda-roster-clndr .clndr .days-container .days .day.event,
    #garda-roster-clndr .clndr .days-container .days .empty.event {
        /*background-color: #d2d2d2;*/
        background-color: #0D77B6;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
        cursor: pointer;
    }

    #garda-roster-clndr .clndr .days-container .days .day.event:hover,
    #garda-roster-clndr .clndr .days-container .days .empty.event:hover {
        /*background-color: #b8b8b8;*/
        background-color: #0D77B6;
    }

    #garda-roster-clndr .clndr .days-container .days .day.adjacent-month,
    #garda-roster-clndr .clndr .days-container .days .empty.adjacent-month {
        color: rgba(0, 0, 0, 0.3);
    }

    #garda-roster-clndr .clndr .days-container .days .empty {
        height: 31px;
        vertical-align: bottom;
    }

    #garda-roster-clndr .clndr .days-container .days .headers {
        /*background-color: #97ce7f;*/
        background-color: #0D77B6;
        padding-top: 5px;
        padding-bottom: 3px;
    }

    #garda-roster-clndr .clndr .days-container .days .headers .day-header {
        width: calc(100% / 7);
        display: inline-block;
        text-align: center;
        color: white;
    }
    /*--  Custom styles 
--------------------------------------------*/

    html {
        height: auto;
    }

    body {
        height: auto;
    }

    #garda-roster-clndr .clndr .clndr-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 15px;
        background: #0D77B6;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        flex: 0 0 33.333333%;
    }

    #garda-roster-clndr .clndr .clndr-header img {
        max-width: 100px;
    }

    #garda-roster-clndr .clndr .clndr-header>div {
        width: 33.333333%;
        color: #fff;
    }

    #garda-roster-clndr .garda-roster-clndr-info .open-info-modal {
        width: 24px;
        line-height: 20px;
        border-radius: 50%;
        text-align: center;
        border: 2px solid #fff;
        display: block;
        margin-left: auto;
        cursor: pointer;
    }

    #garda-roster-clndr .clndr-header .garda-roster-clndr-info {
        text-align: right;
    }

    #garda-roster-clndr .clndr-header .garda-roster-clndr-title {
        text-align: center;
    }

    #garda-roster-clndr .garda-roster-clndr-title h3 {
        margin: 0;
    }

    #garda-roster-clndr .days-container .days .day .start_time {
        text-align: left;
    }

    #garda-roster-clndr .days-container .days .day {
        font-size: 13px;
    }

    #garda-roster-clndr .days-container .days .day>span {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }

    #garda-roster-clndr .clndr .days-container .days .day .day_number {
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
    }

    #garda-roster-clndr img {
        max-width: 100%;
        border: none;
    }

    #garda-roster-clndr .clndr #clndr_core_controls_dropdown {
        display: flex;
        justify-content: space-between;
        background: #0D77B6;
    }

    #garda-roster-clndr .clndr #clndr_core_controls_dropdown>div {
        width: 50%;
        padding: 0 15px;
        margin: 7px 0;
    }

    #garda-roster-clndr .clndr .controls>div {
        padding: 20px 0;
    }

    #garda-roster-clndr .clndr #clndr_core_controls_dropdown>div:nth-of-type(1) {
        border-right: 1px solid #fff;
    }

    #garda-roster-clndr .clndr #clndr_core_controls_dropdown select {
        width: 100%;
        height: 30px;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;
    }

    #garda-roster-clndr .clndr #clndr_core_controls_dropdown select option {
        color: #0D77B6;
        border: none;
        outline: none;
    }
    /*-- Day colors--*/

    .rest_day {
        background: #47A3DA;
    }

    #garda-roster-clndr .clndr .days-container .days .day>span {
        padding: 0 2px;
    }

    @media screen and (max-width: 480px) {
        #garda-roster-clndr .clndr .days-container .days .day {
            font-size: 10px;
            padding-top: 15px;
            padding-bottom: 10px;
        }

        #garda-roster-clndr .clndr .days-container .days .day>span {
            line-height: 18px;
        }

        #garda-roster-clndr .clndr .days-container .days .day .day_number {
            font-size: 20px;
            line-height: 30px;
        }
    }