<!doctype html>
<html lang="">

<head>
    <title>CLNDR Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/clndr.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/clndr.js"></script>
</head>

<body>
<div class="garda-roster-calendar">
    <div id="garda-roster-clndr"></div>
    <script id="calendar-template" type="text/template">
        <div id="garda-roster-clndr-header" style="background-color: lightgray">
            <div class="clndr-header">
                <div class="garda-roster-clndr-logo">
                    <img src="css/St.PaulsGardaCU_Rebuild_ReflexBlue_Edited.png">
                </div>
                <div class="garda-roster-clndr-title">
                    <h3>Calendar</h3>
                </div>
                <div class="garda-roster-clndr-info">
                    <span class="open-info-modal">i</span>
                </div>
            </div>
        </div>
        <div id="clndr_core_controls_dropdown">
            <div class="garda_cldr_unit">
                <select>
                    <option>UNIT A</option>
                    <option>UNIT B</option>
                    <option>UNIT C</option>
                    <option>UNIT D</option>
                    <option>UNIT E</option>
                </select>
            </div>
            <div class="cldr_core_unit_type">
                <select>
                    <option value="0">Select One</option>
                    <option value="1">CORE</option>
                    <option value="2">NON-CORE</option>
                </select>
            </div>
        </div>
        <div class="controls">
            <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %> <%= year %></div><div class="clndr-next-button">&rsaquo;</div>
        </div>

        <div class="days-container">
            <div class="days">
                <div class="headers">
                    <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                </div>
                <%
                _.each(days, function(day) {
                var eventInfo =day.events;
                var classes = day.classes;
                var eventHtml = "";
                if(eventInfo.length > 0 && (_.size(eventInfo[0]) > 0)){
                var eventInfoVal = eventInfo[0];

                if(eventInfoVal.start_time){
                eventHtml +="<span class='start_time'>"+ eventInfoVal.start_time +"</span>";
                }

                if(eventInfoVal.free_day==1){
                classes +=" rest_day"
                }else{
                classes +=" working_day"
                }

                if(eventInfoVal.bank_holiday==1){
                classes +=" bank_holiday"
                }
                if(eventInfoVal.eof_four_week==1){
                eventHtml +="<span class='eof_four_week'></span>";
                }
                if(eventInfoVal.eof_ten_week==1){
                eventHtml +="<span class='eof_ten_week'></span>";
                }
                if(eventInfoVal.shift_slot_time){
                eventHtml +="<span class='shift_slot_time'>"+ eventInfoVal.shift_slot_time +"</span>";
                }
                }
                %><div class="<%= classes %>"><%= eventHtml %><span class="day_number"><%= day.day %></span></div><% });
                %>
            </div>
        </div>
    </script>
</div>

</body>
<script>
    var events = new Array();
    var core_events = [
        {date: '2018-07-30', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-07-31', shift_slot_time:'E', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-08-1', shift_slot_time:'k', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-08-2', shift_slot_time:'L3', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'15'},
        {date: '2018-08-3', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-4', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-5', shift_slot_time:'L1', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'15*'},
        {date: '2018-08-6', shift_slot_time:'MR', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-7', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-8', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-9', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-10', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-11', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-12', shift_slot_time:'L1', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'15'},
        {date: '2018-08-13', shift_slot_time:'L', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'12'},
        {date: '2018-08-14', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-15', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-16', shift_slot_time:'MR', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-17', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-18', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-19', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-20', shift_slot_time:'L', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'12'},
        {date: '2018-08-21', shift_slot_time:'L', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'12'},
        {date: '2018-08-22', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-23', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-24', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-25', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-26', shift_slot_time:'MR',free_day:1, bank_holiday:1, eof_four_week:1, eof_ten_week:0, start_time:''},
        {date: '2018-08-27', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-28', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-29', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-30', shift_slot_time:'E', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-08-31', shift_slot_time:'E', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-09-01', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-09-02', shift_slot_time:'N1',free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'23'},
        {date: '2018-09-03', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-09-04', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-09-05', shift_slot_time:'MR',free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-06', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-07', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-08', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-09', shift_slot_time:'Q',free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:1, start_time:'07'},
    ];

    var non_core_events = [
        {date: '2018-07-30', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-07-31', shift_slot_time:'E', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-08-1', shift_slot_time:'oo', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-08-2', shift_slot_time:'L3', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'15'},
        {date: '2018-08-3', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-4', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-5', shift_slot_time:'L1', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'15*'},
        {date: '2018-08-6', shift_slot_time:'MR', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-7', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-8', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-9', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-10', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-11', shift_slot_time:'L2', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'17'},
        {date: '2018-08-12', shift_slot_time:'L1', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'15'},
        {date: '2018-08-13', shift_slot_time:'L', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'12'},
        {date: '2018-08-14', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-15', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-16', shift_slot_time:'MR', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-17', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-18', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-19', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-20', shift_slot_time:'L', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'12'},
        {date: '2018-08-21', shift_slot_time:'L', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'12'},
        {date: '2018-08-22', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-23', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-24', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-25', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-08-26', shift_slot_time:'MR',free_day:1, bank_holiday:1, eof_four_week:1, eof_ten_week:0, start_time:''},
        {date: '2018-08-27', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-28', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-29', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-08-30', shift_slot_time:'E', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-08-31', shift_slot_time:'E', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'07'},
        {date: '2018-09-01', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-09-02', shift_slot_time:'N1',free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'23'},
        {date: '2018-09-03', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-09-04', shift_slot_time:'N', free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:'21'},
        {date: '2018-09-05', shift_slot_time:'MR',free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-06', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-07', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-08', shift_slot_time:'R', free_day:1, bank_holiday:1, eof_four_week:0, eof_ten_week:0, start_time:''},
        {date: '2018-09-09', shift_slot_time:'M',free_day:0, bank_holiday:1, eof_four_week:0, eof_ten_week:1, start_time:'07'},
    ];

    var events = core_events;


    var theCalendarInstance = $("#garda-roster-clndr").clndr({
        template: $("#calendar-template").html(),
        events: events,
        clickEvents: {
            click: function(target) {
                if(target.events.length) {
                    var daysContainer = $("#garda-roster-clndr").find(".days-container");
                    daysContainer.toggleClass('show-events', true);
                    $('#garda-roster-clndr').find('.x-button').click( function() {
                        daysContainer.toggleClass('show-events', false);
                    });
                }
            }
        },

        startWithMonth: "2018-08-01",

        // Start the week off on Sunday (0), Monday (1), etc. Sunday is the default.
        // WARNING: if you are dealing with i18n and multiple languages, you
        // probably don't want this! See the "Internationalization" section below
        // for more.
        weekOffset: 1,

        // An array of day abbreviation labels. If you have moment.js set to a
        // different language, it will guess these for you! If for some reason that
        // doesn't work, use this...
        // WARNING: if you are dealing with i18n and multiple languages, you
        // probably don't want this! See the "Internationalization" section below
        // for more.
        daysOfTheWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],

        // The target classnames that CLNDR will look for to bind events.
        // these are the defaults.
        targets: {
            day: 'day',
            empty: 'empty',
            nextButton: 'clndr-next-button',
            todayButton: 'clndr-today-button',
            previousButton: 'clndr-previous-button',
            nextYearButton: 'clndr-next-year-button',
            previousYearButton: 'clndr-previous-year-button',
        },

        // Custom classes to avoid styling issues. pass in only the classnames that
        // you wish to override. These are the defaults.
        classes: {
            past: "past",
            today: "today",
            event: "",
            selected: "selected",
            inactive: "inactive",
            lastMonth: "last-month",
            nextMonth: "next-month",
            adjacentMonth: "adjacent-month",
        },
        adjacentDaysChangeMonth: true
    });

    $(document).on('change', '#garda-roster-clndr .cldr_core_unit_type select, .garda-roster-clndr .garda_cldr_unit select', function(e){
        e.preventDefault();
        var uniteName = $("#garda-roster-clndr .garda_cldr_unit select").val();
        var uniteType = $("#garda-roster-clndr .cldr_core_unit_type select").val();
        if(uniteType==1){
            var eventsd = core_events;
        }else{
            var eventsd = non_core_events;
        }
        theCalendarInstance.setEvents(eventsd);
//        theCalendarInstance.setMonth(8);
        console.log(uniteType);

    })
</script>
</html>